language: php
dist: trusty
cache:
  directories:
    - $HOME/.composer/cache/files
    - $HOME/.cache/composer/files
matrix:
  include:
    - php: 5.6
    - php: 7.0
    - php: 7.1
      env: UPDATE_COVERAGE=1
    - php: 7.2
    - php: nightly
    - php: hhvm
  allow_failures:
    - php: hhvm
  fast_finish: true
before_script:
  - composer global install squizlabs/php_codesniffer
  - composer global install phpmd/phpmd
  - sh -c "[ -z $UPDATE_COVERAGE ] && phpenv config-rm xdebug.ini || true"
script:
  - $PATH=$HOME/.cache/composer/bin:$PATH ./build.sh
