language: php

matrix:
  include:
    - php: 5.5
    - php: 5.6
    - php: 7.0
    - php: 7.1
    - php: nightly
    - php: hhvm
  allow_failures:
    - php: hhvm
    - php: nightly
    - php: 5.5
    - php: 5.6
  fast_finish: true
before_script:
  - composer install --dev
script:
  - vendor/bin/phpunit
