language: php
dist: trusty
cache:
  directories:
    - $HOME/.composer/cache/files
    - $HOME/.cache/composer/files
matrix:
  include:
    - php: 7.0
    - php: 7.1
    - php: 7.2
      env: UPDATE_COVERAGE=1
    - php: 7.3
    - php: nightly
  fast_finish: true
before_script:
  - composer global require squizlabs/php_codesniffer
  - composer global require phpmd/phpmd
  - sh -c "[ -z $UPDATE_COVERAGE ] && phpenv config-rm xdebug.ini || true"
script:
  - PATH=$HOME/.composer/vendor/bin:$PATH ./build.sh
